/* Base colors */
:root {
  --hero-color: #10461b;
  --body-text-color: #000000;
  --background-color: #fdffee;
  --green-base: #10461b;
  --blue-base: #283696;
  --red-base: #ba1b21;
  --yellow-base: #f6ae00;
}

/* Typography */
@import url("//fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
  color: var(--body-text-color);
  background-color: var(--background-color);
  font-size: 16pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  color: var(--hero-color);
}

p {
  font-family: "Inter", sans-serif;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* bg */

.body-inner, .book .book-body .page-wrapper .page-inner section {
  background: var(--background-color);
}

.book-summary {
  background: var(--background-color) !important;
}

/* Sidebar formatting */

/* Change the font size and font family of the sidebar text */
.book .book-summary .chapter a {
  font-size: 14px; /* Adjust the value to your desired font size */
  font-family: "Inter", sans-serif; /* Replace with your preferred font family */
}

/* Change the color of the sidebar text */
.book .book-summary .chapter a {
  color: #10461b; /* You can adjust the color value as desired */
}

/* Change the color of the sidebar text on hover */
.book .book-summary .chapter a:hover {
  color: #283696; /* You can adjust the color value as desired */
}


